#about-us{
    width: 100vw;
}
#about-us .left{
  background-color: #102f58;
  color: #fff;
  animation: about 10s infinite alternate;
  -webkit-animation: about 10s infinite alternate;
  -moz-animation: about 10s infinite alternate;
  -o-animation: about 10s infinite alternate;
  -ms-animation: about 10s infinite alternate;

}
@keyframes about{
    0% {background-color: #0b2559;}
    25%{background-color: #041e40;}
    50%{background-color: #0a4273;}
    75%{background-color: #6085a6;}
    100%{background-color: #0859fa;}
}
#about-us .left h1{
    padding: 20px 0;
}
#about-us #about-text, .right{
    width: 100%;
    padding: 20px;
    text-align: justify;
}
.right-text{
    line-height: 30px;
    font-size: 1.1em;
}
#about-us .us{
    padding: 20px 0;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8em;
}

.right{
    width: 100%;
    padding: 20px;
}

@media screen and (min-width: 650px){
    #about-us{
        display: flex;
        justify-content: space-between;
    }
    #about-us .left{
        max-width: 48%;
        flex: 1 0 50%;
        display: flex;
        padding-left: 10px;
    }
    #about-text{
        align-self: center;
        color: #fff;
        margin-top: 0;
    }
    #about-us #right{
        flex: 1 0 50%;
        max-width: 48%;
     
    }
    #about-us .us, #right, #about-text{
        padding-top: 0;
    }
}