
/* ...................
    Navigation Section 
......................*/
#nav-section{
    overflow-x: hidden;
    height: auto;
    background-color: #0B2559;
    border-bottom: 1px solid rgb(206, 203, 203);
}
nav{
    height: auto;
}
/* nav ul{
    margin: auto;
    width: 80%;
} */
nav ul li{
    list-style-type: none;
    background-image: linear-gradient(#ADC5D9, #041E40);
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    margin: 5px 10px;
    flex: 0 1 150px;
    max-height: 40px;
}
nav ul li:hover{
    background-image: linear-gradient( #041E40, #ADC5D9);
}
nav ul li a{
    color: white !important;
    text-decoration: none;
}


@media screen and (max-width: 690px){
       #nav-section{
           height: auto;
       }
       nav ul li{
           flex: 1 1 auto;
       }
   
   } 